/* manrop font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.manrop_font{
    font-family: "Manrope", sans-serif;
}

.buttom_part_main a{
 color: gray;
 display: block;
 font-size: 13px;
 margin-top: 5px;
}
.subcribe_icon span{
    display: inline-block;
    justify-content: space-between;
   
}
.subcribe_icon input:hover::after:focus{
    border: hidden;
}